@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

:root{
    --vinicius: #000000;
    --thiagoviadogordo: #ffffff;
 
}


body{
    background-color: var(--vinicius);
    color: var(--thiagoviadogordo);

}
.macabros{
    font-family: 'Honk', system-ui;
}